/* Farbtastic color picker */
.collageformatter-farbtastic-color-selector .collageformatter-color-textfield {
  vertical-align: top;
}

.collageformatter-farbtastic-color-selector .field-suffix {
  display: inline-block;
}
