<div class="{{ collage_wrapper_class }}" style="{{ collage_wrapper_style }}">
  <div class="collageformatter-collage" style="{{ collage_style }}">
    {{ collage }}
    <div class="collageformatter-collage-bottom" style="{{ collage_bottom_style }}"></div>
  </div>
</div>
